@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  height: 100%;
  width: 100%;
  box-shadow: 0px 5px 25px -5px rgba(0, 0, 0, 0.568);
  object-fit: cover;
}

/* .test {
  background-color: #00000009;
} */



.grid-container {
    display: grid;
    grid-auto-rows: 280px; 
    grid-gap: 50px;
    grid-template-columns: repeat(3, 1fr);   
}

.hover-img {
  border-radius: 30px;
  color: #fff;
  display: inline-block;
  margin: 8px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.hover-img * {
  box-sizing: border-box;
  transition: all 0.45s ease;
}

.hover-img::before,
.hover-img::after {
  border-radius: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  transition: all 0.3s ease;
  z-index: 1;
  opacity: 0;
  transform: scaleY(2);
}

.hover-img img {
  vertical-align: top;
  max-width: 100%;
  backface-visibility: hidden;
}

.hover-img figcaption {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  line-height: 1.1em;
  opacity: 0;
  z-index: 2;
  transition-delay: 0.1s;
}

.hover-img:hover::before,
.hover-img:hover::after {
  transform: scale(1);
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.281);
}

.hover-img:hover > img {
  opacity: 0.7;
}

.hover-img:hover figcaption {
  opacity: 1;
}

.hover-img:nth-child(5n -3) {
  border: 2px solid rgb(207, 5, 5);
  grid-row: span 2;
}